<SuBSDialogContent>
    <Header>
        ヘッダー
    </Header>
    <Body>
        @Text
    </Body>
</SuBSDialogContent>

@code {
    [Parameter]
    public string Text { get; set; } = "DialogComponent";
}
