@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
Welcome to your new app.

<button class="btn btn-primary">ボタン</button>

@code {
    [Inject]
    public required SuNotificationService SuNotificationService { get; set; }
    [Inject]
    public required SuDialogService SuDialogService { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        SuNotificationService.Notify<NotificationComponent>(new SuNotificationService.NotificationReq());
    }
}