@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
Welcome to your new app.

<button class="btn btn-primary" style="position: relative; z-index: 1003;" @onclick="() => SuDialogService.CloseDialog()">Close</button>

@code {
    [Inject]
    public required SuNotificationService SuNotificationService { get; set; }
    [Inject]
    public required SuDialogService SuDialogService { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        SuNotificationService.Notify<NotificationComponent>(new SuNotificationService.NotificationReq());
        SuDialogService.OpenDialog<DialogComponent>(new SuDialogService.DialogOpenReq()
        {
            Parameters = new Dictionary<string, object?>()
            {
                { "Text", "ダイアログ1" },
            },
            WrapperClass = "modal-dialog",
        });
    }
}