@namespace CSStack.SuBlazor

@if (Visible)
{
    <div class="su-dialog-background @BackgroundClass" style="z-index: @BackgroundZIndex; @BackgroundStyle">
        <div class="su-dialog-content @Class" style="z-index: @DialogContentZIndex; @Style" @attributes="AdditionalAttributes">
            @ChildContent
        </div>
    </div>
}