@namespace CSStack.SuBlazor

@if (NotificationService.NotificationContexts.Any())
{
    <div class="@CssClassName" style="z-index: @NotificationService.ZIndex;">
        @foreach (var notification in SortedNotificationContexts)
        {
            <DynamicComponent Type="notification.ComponentType" Parameters="notification.Parameters" />
        }
    </div>
}