.su-notification-container {
    display: flex;
    gap: 10px;
    position: fixed;

    &.vertical {
        flex-direction: column;
    }

    &.vertical-reverse {
        flex-direction: column-reverse;
    }

    &.v-top {
        top: 10px;
    }

    &.v-bottom {
        bottom: 10px;
    }

    &.h-left {
        left: 10px;
    }

    &.h-center {
        left: 50%;
        transform: translateX(-50%);
    }

    &.h-right {
        right: 10px;
    }
}
